xsd/chb-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tmi8c="http://bison.connekt.nl/tmi8/chb/core" targetNamespace="http://bison.connekt.nl/tmi8/chb/core">
	<xs:element name="delimiter">
		<xs:complexType>
			<xs:attribute name="since" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="end">
		<xs:complexType/>
	</xs:element>
</xs:schema>
