xsd/chb.842-msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Copyright: Dit document is eigendom van Platform BISON onder Samenwerkingsverband DOVA,                                             -->
<!--            en wordt gepubliceerd onder de Creative Commons Licentie by-nd/3.0/nl,                                                   -->
<!--            zie http://creativecommons.org/licences/by-nd/3.0/nl                                                                     -->
<!-- Opmerking: XSD is gebaseerd op BISON fysieke haltestructuur en toegankelijkheid, functioneel                                        -->
<!--                                                                                                                                     -->
<!-- Historie:                                                                                                                           -->
<!--          1.0: definitieve versie bij release 8.2.0.0                                                                                -->
<!--          1.1: onvolkomenheden aangepast:                                                                                            -->
<!--               ==> meerdere modaliteiten per quays: quaytransportmodes: <xs:element ref="transportmodedata" maxOccurs="unbounded"/>  -->
<!--               ==> Zowel bij Quay als bij Stopplace kunnen meerdere fotoverwijzingen worden opgenomen ==> maxOccurs="unbounded”      -->
<!--          1.2: Rfc conform memo 20150218 Memo - uitbreiden enum KV halte voor haltetaxi vraaggestuurd vervoer verwerkt:              -->
<!--                   enum Transportmode uitgebreid met <xs:enumeration value="taxi"/>                                                  -->
<!--                   enum Quaytype uitgebreid met <xs:enumeration value="demandresponsive"/>                                           -->
<!--          1.3: Rfc conform memo 20150924 Changes haltestandaard verwerkt                                                             -->
<!--                   enum StopPlaceType uitgebreid met <xs:enumeration value="combiMetroTram"/>                                        -->
<!--                   enum Visuallyaccessible uitgebreid met <xs:enumeration value="U"/>                                                -->
<!--                   enum Disabledaccessible uitgebreid met <xs:enumeration value="U"/>                                                -->
<!--          1.3: definitieve versie bij release 8.2.1.0                                                                                -->
<!--               quay-level is alleen nog opgenomen bij quaylocationdata, verwijderd bij quayaccessibilityoptions (was redundant)      -->
<!--          1.4: gecorrigeerde definitieve versie bij release 8.2.1.1 n.a.v. incidentmelding dat export niet voldoet aan XSD           -->
<!--               onjuiste namespace verwijzing aangepast: xmlns:ns1="http://bison.connekt.nl/tmi8/chb/msg/v1.3" vervangen door:        -->
<!--               xmlns="http://bison.connekt.nl/tmi8/chb/msg/v1.4"                                                                     -->
<!--               baylength, ook waarde 0 is toegestaan (bijv. bij alleen haltepaal in gras) ==> minInclusive value=“0”                 -->
<!--               bayentranceangles en bayexitangles, max. waarde nu 100 (was 10 meter), min. waarde mag 0 zijn.                        -->
<!--          1.5: BISON versie 8.3.0: verwijzing naar logo/symbool van een quay, stopplace of place toegevoegd.                         -->
<!--               Hierbij dus ook namespace gewijzigd in "http://bison.connekt.nl/tmi8/chb/msg/v1.5"                                    -->
<!--          1.6: BISON versie 8.3.0: quayshapeType 'bermhalte' toegevoegd.                                                             -->
<!--               Namespace terug gewijzigd in "http://bison.connekt.nl/tmi8/chb/msg"                                                   -->
<!--         1.6a: BISON versie 8.3.1a: copyright aangepast.                                                                             -->
<!--        8.4.0: NeTEx Id's toegevoegd conform structuur: [codespace]:[type]:[identificatie], bijvoorbeeld:                            -->
<!--                 CHB:StopPlace:32005215, CHB:Quay:54000480, CHB:GroupOfStopPlaces:llzm                                               -->
<!--               Toegevoegd: wheelchairAccess, stepFreeAccess en visuallyImpairedAccess conform NeTEx limitationStatusEnum.            -->
<!--        8.4.1: Containers stopplaces, places en dataowners optioneel, zodat deel-exports ook mogelijk zijn met dit xsd,              -->
<!--               Lengte quayname 45 i.p.v. 100 karakters; minimale perronhoogte 0 ook toegestaan; QuayType en StopPlaceType 'bridge'.  -->
<!--        8.4.2: Bepaling van stepFreeAccess en visuallyImpairedAccess in overeenstemming gebracht met EU NeTEx Accessibility.         -->
<!--                                                                                                                                     -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tmi8="http://bison.connekt.nl/tmi8/chb/msg" xmlns:tmi8c="http://bison.connekt.nl/tmi8/chb/core" xmlns="http://bison.connekt.nl/tmi8/chb/msg" targetNamespace="http://bison.connekt.nl/tmi8/chb/msg" elementFormDefault="qualified" version="8.4.1">
	<xs:import namespace="http://bison.connekt.nl/tmi8/chb/core" schemaLocation="chb-core.xsd"/>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- CHB export                                                                        -->
	<!-- Centraal Halte Bestand, bestand waarin gegevens van alle fysieke haltes           -->
	<!-- (en stations) in Nederland zijn opgenomen. De gegevens uit het CHB worden als     -->
	<!-- open data via de NDOV-loketten aan afnemers beschikbaar gesteld volgens de        -->
	<!-- structuur zoals opgenomen in deze XSD.                                            -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="export">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stopplaces" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="places" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dataowners" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Stopplaces                                                                        -->
	<!-- Een StopPlace is een plaats opgebouwd uit één of meerdere locaties waar           -->
	<!-- voertuigen mogen stoppen en reizigers kunnen in en/of uitstappen. Een StopPlace   -->
	<!-- heeft één of meer bij de reiziger bekende namen. De haltes behorend tot een       -->
	<!-- StopPlace liggen in eenzelfde straat/plein, op eenzelfde level (= niveau qua      -->
	<!-- hoogteverschil, bijv. -2, -1, 0, 1, 2 etc.). Vanaf een halte zijn de andere       -->
	<!-- haltes behorend tot de StopPlace zichtbaar.                                       -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="stopplaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stopplace" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="validfrom"/>
				<xs:element ref="stopplacecode"/>
				<xs:element ref="stopplacetype"/>
				<xs:element ref="stopplacename"/>
				<xs:element ref="stopplacestatusdata"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="quays" minOccurs="0"/>
				<xs:element ref="uiccode" minOccurs="0"/>
				<xs:element ref="internalname" minOccurs="0"/>
				<xs:element ref="stopplacelocation" minOccurs="0"/>
				<xs:element ref="stopplacemunicipality" minOccurs="0"/>
				<xs:element ref="stopplaceowner" minOccurs="0"/>
				<xs:element ref="stopplacevisualaccessibility" minOccurs="0"/>
				<xs:element ref="stopplacedisabledaccessibility" minOccurs="0"/>
				<xs:element ref="stopplaceaccessibilityadaptions" minOccurs="0"/>
				<xs:element ref="stopplacefacilities" minOccurs="0"/>
				<xs:element ref="stopplaceremarks" minOccurs="0"/>
				<xs:element ref="stopplacephotos" minOccurs="0"/>
				<xs:element ref="iconuri" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="placecode" type="placecodeassignment"/>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Quays, binnen stopplace                                                           -->
	<!-- Een QUAY is een plaats, zoals een perron, berm, kade, steiger, etc., waar         -->
	<!-- reizigers toegang hebben tot het OV-netwerk. Iedere plaats waar een voertuig of   -->
	<!-- halteert is een QUAY, een QUAY is altijd een plaats waaraan een voertuig halteert -->
	<!-- kan halteren. Op landelijke wegen komt het voor dat aan één zijde van de straat   -->
	<!-- een haltepaal staat, die ook wordt gebruikt om de vertrekken aan de overzijde van -->
	<!-- de straat aan te duiden. In deze situatie is er sprake van 2 afzonderlijke        -->
	<!-- instapplaatsen, derhalve dan ook 2 QUAYS.                                         -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="quays">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quay" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="quaycode"/>
				<xs:element ref="validfrom"/>
				<xs:element ref="quaytypedata"/>
				<xs:element ref="quaytransportmodes"/>
				<xs:element ref="quaystatusdata"/>
				<xs:element ref="quaylocationdata"/>
				<xs:element ref="quaybearing"/>
				<xs:element ref="quayvisuallyaccessible"/>
				<xs:element ref="quaydisabledaccessible" maxOccurs="unbounded"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="stopobjectcode" minOccurs="0"/>
				<xs:element ref="stopinternalcode" minOccurs="0"/>
				<xs:element ref="stopinternalname" minOccurs="0"/>
				<xs:element ref="parentquaycode" minOccurs="0"/>
				<xs:element ref="onlygetout" minOccurs="0"/>
				<xs:element ref="quaymunicipality" minOccurs="0"/>
				<xs:element ref="quayowner" minOccurs="0"/>
				<xs:element ref="quayconcessionprovider" minOccurs="0"/>
				<xs:element ref="quaynamedata" minOccurs="0"/>
				<xs:element ref="quayaccessibilityadaptions" minOccurs="0"/>
				<xs:element ref="quayfacilities" minOccurs="0"/>
				<xs:element ref="quayremarks" minOccurs="0"/>
				<xs:element ref="quayextraattributes" minOccurs="0"/>
				<xs:element ref="quayphotos" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaymunicipality">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="municipalitycode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayowner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="quayownercode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayconcessionprovider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="concessionprovidercode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaynamedata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="quayname"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="stopsidecode" minOccurs="0"/>
				<xs:element ref="iconuri" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaytypedata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="quaytype"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaytransportmodes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transportmodedata" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transportmodedata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="transportmode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaystatusdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="quaystatus"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaylocationdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="rd-x"/>
				<xs:element ref="rd-y"/>
				<xs:element ref="town"/>
				<xs:element ref="level"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="rd-z" minOccurs="0"/>
				<xs:element ref="street" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaybearing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="compassdirection"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayvisuallyaccessible">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="visuallyaccessible"/>
				<xs:element ref="visuallyImpairedAccess"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quaydisabledaccessible">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="transportmode"/>
				<xs:element ref="disabledaccessible"/>
				<xs:element ref="stepFreeAccess"/>
				<xs:element ref="wheelchairAccess"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayaccessibilityadaptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="quayshapetype"/>
				<xs:element ref="baylength"/>
				<xs:element ref="markedkerb"/>
				<xs:element ref="lift"/>
				<xs:element ref="guidelines"/>
				<xs:element ref="groundsurfaceindicator"/>
				<xs:element ref="stopplaceaccessroute"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="embaymentwidth" minOccurs="0"/>
				<xs:element ref="bayentranceangles" minOccurs="0"/>
				<xs:element ref="bayexitangles" minOccurs="0"/>
				<xs:element ref="kerbheight" minOccurs="0"/>
				<xs:element ref="boardingpositionwidth" minOccurs="0"/>
				<xs:element ref="alightingpositionwidth" minOccurs="0"/>
				<xs:element ref="liftedpartlength" minOccurs="0"/>
				<xs:element ref="narrowestpassagewidth" minOccurs="0"/>
				<xs:element ref="fulllengthguideline" minOccurs="0"/>
				<xs:element ref="guidelinestopplaceconnection" minOccurs="0"/>
				<xs:element ref="tactilegroundsurfaceindicator" minOccurs="0"/>
				<xs:element ref="ramp" minOccurs="0"/>
				<xs:element ref="ramplength" minOccurs="0"/>
				<xs:element ref="heightwithenvironment" minOccurs="0"/>
				<xs:element ref="rampwidth" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayextraattributes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="roadcode" minOccurs="0"/>
				<xs:element ref="hectometersign" minOccurs="0"/>
				<xs:element ref="greenstop" minOccurs="0"/>
				<xs:element ref="liftedbicyclepath" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayfacilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="stopsign"/>
				<xs:element ref="audiobutton"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="stopsigntype" minOccurs="0"/>
				<xs:element ref="shelter" minOccurs="0"/>
				<xs:element ref="shelterpublicity" minOccurs="0"/>
				<xs:element ref="illuminatedstop" minOccurs="0"/>
				<xs:element ref="seatavailable" minOccurs="0"/>
				<xs:element ref="leantosupport" minOccurs="0"/>
				<xs:element ref="timetableinformation" minOccurs="0"/>
				<xs:element ref="infounit" minOccurs="0"/>
				<xs:element ref="routenetworkmap" minOccurs="0"/>
				<xs:element ref="passengerinformationdisplay" minOccurs="0"/>
				<xs:element ref="passengerinformationdisplaytype" minOccurs="0"/>
				<xs:element ref="bicycleparking" minOccurs="0"/>
				<xs:element ref="numberofbicycleplaces" minOccurs="0"/>
				<xs:element ref="bins" minOccurs="0"/>
				<xs:element ref="ovccico" minOccurs="0"/>
				<xs:element ref="ovccharging" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayphotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quayphotodata" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayphotodata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quayimagedate"/>
				<xs:element ref="quayimageurl"/>
				<xs:element ref="quayimagedescription"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quayremarks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="remarks"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="remarkstatus" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Stopplace kenmerken                                                               -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="stopplacelocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="level"/>
				<xs:element ref="rd-x"/>
				<xs:element ref="rd-y"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="rd-z" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacename">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="publicname"/>
				<xs:element ref="town"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="publicnamemedium" minOccurs="0"/>
				<xs:element ref="publicnamelong" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="stopplaceindication" minOccurs="0"/>
				<xs:element ref="street" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacemunicipality">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="municipalitycode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplaceowner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="stopplaceownercode"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacestatusdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="stopplacestatus"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacevisualaccessibility">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="visuallyaccessible"/>
				<xs:element ref="visuallyImpairedAccess"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacedisabledaccessibility">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="disabledaccessible"/>
				<xs:element ref="stepFreeAccess"/>
				<xs:element ref="wheelchairAccess"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplaceaccessibilityadaptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="heightwithenvironment"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="environmentaccessroute" minOccurs="0"/>
				<xs:element ref="guidelineconnection" minOccurs="0"/>
				<xs:element ref="ramp" minOccurs="0"/>
				<xs:element ref="ramplength" minOccurs="0"/>
				<xs:element ref="rampwidth" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacefacilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="timetableinformation" minOccurs="0"/>
				<xs:element ref="passengerinformationdisplay" minOccurs="0"/>
				<xs:element ref="passengerinformationdisplaytype" minOccurs="0"/>
				<xs:element ref="environmentinfo" minOccurs="0"/>
				<xs:element ref="bicycleparking" minOccurs="0"/>
				<xs:element ref="numberofbicycleplaces" minOccurs="0"/>
				<xs:element ref="toiletfacility" minOccurs="0"/>
				<xs:element ref="ptbikerental" minOccurs="0"/>
				<xs:element ref="bins" minOccurs="0"/>
				<xs:element ref="ovccico" minOccurs="0"/>
				<xs:element ref="ovccharging" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplaceremarks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="validfrom"/>
				<xs:element ref="remarks"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="remarkstatus" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacephotos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stopplacephotodata" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="stopplacephotodata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stopplaceimagedate"/>
				<xs:element ref="stopplaceimageurl"/>
				<xs:element ref="stopplaceimagedescription"/>
				<xs:element ref="mutationdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Places  (NeTEx: GroupOfStopPlaces)                                                -->
	<!-- Een gebied waarbinnen meerdere Stopplaces vallen.                                 -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="places">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="place" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="place">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="daowcode"/>
				<xs:element ref="validfrom"/>
				<xs:element ref="placecode"/>
				<xs:element ref="publicname"/>
				<xs:element ref="town"/>
				<xs:element ref="iconuri" minOccurs="0"/>
				<xs:element ref="mutationdate"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Dataowners                                                                        -->
	<!-- Data-eigenaar van een object                                                      -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="dataowners">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dataowner" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataowner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="daowcode"/>
				<xs:element ref="daowname"/>
				<xs:element ref="daowtype"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Message property types                                                            -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<xs:element name="ID">
		<xs:annotation>
			<xs:documentation>NeTEx identificatie van de vorm [codespace]:[type]:[identificatie]</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\S*:\S*:\S*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="placecodeassignment">
		<xs:annotation>
			<xs:documentation>Verwijzing naar Place</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="validfrom">
		<xs:annotation>
			<xs:documentation>Ingangsdatum.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:minInclusive value="1990-01-01T00:00:00Z"/>
				<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mutationdate">
		<xs:annotation>
			<xs:documentation>Datum en tijdstip waarop laatste wijziging is aangebracht.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:minInclusive value="1990-01-01T00:00:00Z"/>
				<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="daowcode">
		<xs:annotation>
			<xs:documentation>DataOwnerCode.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="daowname">
		<xs:annotation>
			<xs:documentation>Naam van de DataOwner.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="45"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="daowtype">
		<xs:annotation>
			<xs:documentation>DataOwnerType: Dit veld mag één van de volgende waarden bevatten: ROOW (Road Owner) COPR (Concession Provider), PUCO (Public transport Company), INT (Integrator). </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ROOW"/>
				<xs:enumeration value="COPR"/>
				<xs:enumeration value="PUCO"/>
				<xs:enumeration value="INT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="placecode">
		<xs:annotation>
			<xs:documentation>Unieke code van Place.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplacecode">
		<xs:annotation>
			<xs:documentation>Unieke code van stopplace.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceownercode">
		<xs:annotation>
			<xs:documentation>DataOwnercode van type weg/infrabeheerder (type ROOW).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uiccode">
		<xs:annotation>
			<xs:documentation>Van toepassing bij spoorstations.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:unsignedInt">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplacetype">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ferryPort"/>
				<xs:enumeration value="busStation"/>
				<xs:enumeration value="metroStation"/>
				<xs:enumeration value="onstreetBus"/>
				<xs:enumeration value="onstreetTram"/>
				<xs:enumeration value="railStation"/>
				<xs:enumeration value="tramStation"/>
				<xs:enumeration value="combiTramBus"/>
				<xs:enumeration value="combiMetroTram"/>
				<xs:enumeration value="bridge"/>
				<xs:enumeration value="other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="internalname">
		<xs:annotation>
			<xs:documentation>Naam van de halte/StopPlace zoals gebruikt bij de weg/infrabeheerder.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="45"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="visuallyaccessible">
		<xs:annotation>
			<xs:documentation>Geeft aan of de quay/stopplace is aangepast voor visueel beperkten. Dit veld mag één van de volgende waarden bevatten: Y(es), N(o), T(emporary not), U(nknown).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="U"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="visuallyImpairedAccess">
		<xs:annotation>
			<xs:documentation>Geeft aan of de quay/stopplace toegankelijk is voor reizigers met een visuele beperking. 
			Wordt afgeleid conform de volgende kenmerken en voorwaarden:
			voor alle modaliteiten (bus, tram, metro, boot, trein enz.)
			guidelinestopplaceconnection = Y
			AND
			( fulllengthguideline = Y 
				OR 
			  groundsurfaceindicator = Y )  (instapmarkering alleen op bushaltes)
			Dit veld mag één van de volgende waarden bevatten conform de NeTEx LimitationStatusEnumeration: true, false, unknown.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="LimitationStatusEnum"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="disabledaccessible">
		<xs:annotation>
			<xs:documentation>Geeft aan of de quay/stopplace is aangepast voor motorisch beperkten. Dit veld mag één van de volgende waarden bevatten: Y(es), N(o), T(emporary not), U(nknown)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="U"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stepFreeAccess">
		<xs:annotation>
			<xs:documentation>Geeft aan of de quay/stopplace drempelvrij bereikbaar is. 
			Wordt afgeleid conform de volgende kenmerken en voorwaarden:
			voor alle modaliteiten (bus, tram, metro, boot, trein, enz.)
			narrowestpassagewidth >= 0,9
			AND
			stopplaceaccessroute = Y 
			AND 
			((0,2 >= heightwithenvironment) OR (heightwithenvironment > 0,2 AND ((ramp = Y AND rampwidth >= 1,2) OR lift = Y))) 
			AND			
			choice 'bus' kerbheight >= 0,18
			choice 'train' kerbheight >= 0,735    (P76 met +/- 0,025)
			choice 'metro'|'tram'|'boat' disabledaccessible = Y   (wordt handmatig bepaald afhankelijk van kenmerken voertuig en perron)
			THEN stepFreeAccess = ‘true’ 
			ELSE stepFreeAccess = ‘false’ 
			Dit veld mag één van de volgende waarden bevatten conform de NeTEx LimitationStatusEnumeration: true, false, unknown.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="LimitationStatusEnum"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="wheelchairAccess">
		<xs:annotation>
			<xs:documentation>Geeft aan of de quay/stopplace vanaf de omliggende voetpaden bereikbaar is en perron/halte voldoende breed en hoog is voor rolstoelgebruikers. 
			Wordt afgeleid conform de volgende kenmerken en voorwaarden:
			voor alle modaliteiten (bus, tram, metro, boot, trein enz.)
			boardingpositionwidth OR alightingpositionwidth >= 1,5
			AND
			narrowestpassagewidth >= 0,9
			AND
			stopplaceaccessroute = Y 
			AND 
			((0,2 >= heightwithenvironment) OR (heightwithenvironment > 0,2 AND ((ramp = Y AND rampwidth >= 1,2) OR lift = Y))) 
			AND			
			choice 'bus' kerbheight >= 0,18
			choice 'train' kerbheight >= 0,735   (P76 met +/- 0,025)
			choice 'metro'|'tram'|'boat' disabledaccessible = Y   (wordt handmatig bepaald afhankelijk van kenmerken voertuig en perron)
			THEN wheelchairAccess = ‘true’ 
			ELSE wheelchairAccess = ‘false’ 
			Dit veld mag één van de volgende waarden bevatten conform de NeTEx LimitationStatusEnumeration: true, false, unknown.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="LimitationStatusEnum"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="environmentaccessroute">
		<xs:annotation>
			<xs:documentation>Geeft aan of er een toegankelijke toeleidende route aanwezig is vanuit het omliggende gebied.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="guidelineconnection">
		<xs:annotation>
			<xs:documentation>Geeft aan of de geleidelijn op halte/instapmarkering aansluit op natuurlijke gidslijn/geleidelijn in omgeving.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quaycode">
		<xs:annotation>
			<xs:documentation>Landelijk haltenummer.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="municipalitycode">
		<xs:annotation>
			<xs:documentation>DataOwnercode beginnend met 'G'.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transportmode">
		<xs:annotation>
			<xs:documentation>Dit veld mag één van de volgende waarden bevatten: rail,metro,tram,bus,ferry,taxi.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="rail"/>
				<xs:enumeration value="metro"/>
				<xs:enumeration value="tram"/>
				<xs:enumeration value="bus"/>
				<xs:enumeration value="ferry"/>
				<xs:enumeration value="taxi"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="parentquaycode">
		<xs:annotation>
			<xs:documentation>Verwijzing naar overkoepelende quay waar quay onderdeel van is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publicname">
		<xs:annotation>
			<xs:documentation>Naam waaronder knooppunt/station bekend is bij het publiek.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="45"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayshapetype">
		<xs:annotation>
			<xs:documentation>Vorm van bushalte. Dit veld mag één van de volgende waarden bevatten: unknown,langshalte,uitgestoken langshalte,haltehaven,semi-haltehaven,bermhalte.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="unknown"/>
				<xs:enumeration value="langshalte"/>
				<xs:enumeration value="uitgestoken langshalte"/>
				<xs:enumeration value="haltehaven"/>
				<xs:enumeration value="semi-haltehaven"/>
				<xs:enumeration value="bermhalte"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="embaymentwidth">
		<xs:annotation>
			<xs:documentation>Diepte haltekom (CROW item A). Dit veld is verplicht wanneer quayshapetype 'haltehaven' is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="5"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="baylength">
		<xs:annotation>
			<xs:documentation>Lengte halteerplaats (CROW item B2).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="5"/>
				<xs:fractionDigits value="2"/>
				<xs:minInclusive value="0"/>
				<xs:maxExclusive value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bayentranceangles">
		<xs:annotation>
			<xs:documentation>Lengte inrijhoek (CROW item B1). Dit veld is verplicht wanneer quayshapetype 'haltehaven' is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="5"/>
				<xs:fractionDigits value="2"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bayexitangles">
		<xs:annotation>
			<xs:documentation>Lengte uitrijhoek (CROW item B3). Dit veld is verplicht wanneer quayshapetype 'haltehaven' is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="5"/>
				<xs:fractionDigits value="2"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="kerbheight">
		<xs:annotation>
			<xs:documentation>Hoogte van het perron.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
				<xs:minInclusive value="0"/>
				<xs:maxExclusive value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="boardingpositionwidth">
		<xs:annotation>
			<xs:documentation>Breedte van de QUAY (excl. perronband) bij de instapdeur.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="alightingpositionwidth">
		<xs:annotation>
			<xs:documentation>Breedte van de QUAY (excl. perronband) bij de uitstapdeur.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="liftedpartlength">
		<xs:annotation>
			<xs:documentation>Lengte van het verhoogde deel van het perron.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="markedkerb">
		<xs:annotation>
			<xs:documentation>Markering perronrand aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="narrowestpassagewidth">
		<xs:annotation>
			<xs:documentation>Breedte van smalste barrierevrije doorgang op het perron</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="level">
		<xs:annotation>
			<xs:documentation>Niveau ten opzichte van straatniveau.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-2"/>
				<xs:enumeration value="-1"/>
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lift">
		<xs:annotation>
			<xs:documentation>Lift aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="guidelines">
		<xs:annotation>
			<xs:documentation>Geleidelijn aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fulllengthguideline">
		<xs:annotation>
			<xs:documentation>Geleidelijn over gehele lengte halte. Dit veld is verplicht wanneer geleidelijn aanwezig is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="guidelinestopplaceconnection">
		<xs:annotation>
			<xs:documentation>Aansluiting geleidelijn op geleiding in omgeving (stopplace). Dit veld is verplicht wanneer geleidelijn aanwezig is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="groundsurfaceindicator">
		<xs:annotation>
			<xs:documentation>Instapmarkering aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tactilegroundsurfaceindicator">
		<xs:annotation>
			<xs:documentation>Instapmarkering van kleur, klank en/of tast afwijkend van geleidelijn? Dit veld is verplicht wanneer er een instapmarkering is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceaccessroute">
		<xs:annotation>
			<xs:documentation>Is er een toegankelijke toeleidende route aanwezig vanuit de omgeving/stopplace.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ramp">
		<xs:annotation>
			<xs:documentation>Hellingbaan aanwezig? </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ramplength">
		<xs:annotation>
			<xs:documentation>Lengte van de hellingbaan. Verplicht indien hellingbaan aanwezig.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="heightwithenvironment">
		<xs:annotation>
			<xs:documentation>Hoogteverschil met omgeving. Verplicht indien hellingbaan aanwezig is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="5"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="-100"/>
				<xs:maxExclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rampwidth">
		<xs:annotation>
			<xs:documentation>Breedte van de aanlooproute. Verplicht indien hellingbaan aanwezig is.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
				<xs:minExclusive value="0"/>
				<xs:maxExclusive value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="compassdirection">
		<xs:annotation>
			<xs:documentation>Windroosrichting, waar voertuig naar wijst rijdend op de straat direct na de halte, max afwijking + of - 22,5 graden van werkelijkheid.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:unsignedShort">
				<xs:minInclusive value="0"/>
				<xs:maxExclusive value="360"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="roadcode">
		<xs:annotation>
			<xs:documentation>Wegnummer.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hectometersign">
		<xs:annotation>
			<xs:documentation>Ter hoogte van hectometer paal.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="greenstop">
		<xs:annotation>
			<xs:documentation>Komt er een groene wandelroute bij deze halte?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="liftedbicyclepath">
		<xs:annotation>
			<xs:documentation>Is er een verhoogd fietspad aansluitend op de halte?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopsign">
		<xs:annotation>
			<xs:documentation>Haltebord aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopsigntype">
		<xs:annotation>
			<xs:documentation>Type haltebord.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shelter">
		<xs:annotation>
			<xs:documentation>Abri aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shelterpublicity">
		<xs:annotation>
			<xs:documentation>Reclame in abri?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="illuminatedstop">
		<xs:annotation>
			<xs:documentation>Halte verlicht?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="seatavailable">
		<xs:annotation>
			<xs:documentation>Zitgelegenheid bij halte?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="leantosupport">
		<xs:annotation>
			<xs:documentation>Stasteun aanwezig bij halte?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="timetableinformation">
		<xs:annotation>
			<xs:documentation>Haltevertrekstaat aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="iconuri">
		<xs:annotation>
			<xs:documentation>Absolute URI naar de publiek toegankelijke locatie waarvandaan de afbeelding geladen kan worden. De extensie van de file geeft het soort afbeelding aan. Ondersteunde bestandsoorten zijn gif, jpg, jpeg, png, svg, webp.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:maxLength value="1024"/>
				<xs:pattern value="[hH][tT][tT][pP][sS]?://.+"/>
				<!-- http/https lower and uppercase and combinations like hTTpS:// -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="infounit">
		<xs:annotation>
			<xs:documentation>Vitrine voor haltevertrekstaat/statische reisinformatie aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="routenetworkmap">
		<xs:annotation>
			<xs:documentation>Lijnennetkaart aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="passengerinformationdisplay">
		<xs:annotation>
			<xs:documentation>Actuele reisinformatie aanwezig (DRIS)?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="passengerinformationdisplaytype">
		<xs:annotation>
			<xs:documentation>Type DRIS paneel.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="45"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="audiobutton">
		<xs:annotation>
			<xs:documentation>Audioknop aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bicycleparking">
		<xs:annotation>
			<xs:documentation>Fietsparkeervoorziening aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numberofbicycleplaces">
		<xs:annotation>
			<xs:documentation>Aantal Fietsparkeerplaatsen.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:unsignedShort">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bins">
		<xs:annotation>
			<xs:documentation>Afvalbakken aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ovccico">
		<xs:annotation>
			<xs:documentation>OV chipcard in/uit-check faciliteit aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ovccharging">
		<xs:annotation>
			<xs:documentation>OV chipcard oplaadfaciliteiten aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rd-x">
		<xs:annotation>
			<xs:documentation>RD-X, coördinaat mag max. + of - 3 meter afwijken van werkelijke positie.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="-7000"/>
				<xs:maxInclusive value="300000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rd-y">
		<xs:annotation>
			<xs:documentation>RD-Y, coördinaat mag max. + of - 3 meter afwijken van werkelijke positie.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="289000"/>
				<xs:maxInclusive value="629000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rd-z">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="-50"/>
				<xs:maxInclusive value="500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="town">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="location">
		<xs:annotation>
			<xs:documentation>Nadere aanduiding locatie halte.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayname">
		<xs:annotation>
			<xs:documentation>Naam halte voor publiek.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="45"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopsidecode">
		<xs:annotation>
			<xs:documentation>Perronletter/aanduiding.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayownercode">
		<xs:annotation>
			<xs:documentation>DataOwnercode van type weg/infrabeheerder (type ROOW).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayimagedate">
		<xs:annotation>
			<xs:documentation>Opnamedatum van foto van quay.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:minInclusive value="1990-01-01T00:00:00Z"/>
				<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayimageurl">
		<xs:annotation>
			<xs:documentation>URL naar foto van quay.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:maxLength value="1024"/>
				<xs:pattern value="[hH][tT][tT][pP][sS]?://.+"/>
				<!-- http/https lower and uppercase and combinations like hTTpS:// -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceimagedate">
		<xs:annotation>
			<xs:documentation>Opnamedatum van foto van stopplace.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:minInclusive value="1990-01-01T00:00:00Z"/>
				<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}Z"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceimageurl">
		<xs:annotation>
			<xs:documentation>URL naar foto van stopplace.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:maxLength value="1024"/>
				<xs:pattern value="[hH][tT][tT][pP][sS]?://.+"/>
				<!-- http/https lower and uppercase and combinations like hTTpS:// -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopobjectcode">
		<xs:annotation>
			<xs:documentation>Haltenummer op haltebord (voorzover aanwezig).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopinternalcode">
		<xs:annotation>
			<xs:documentation>Intern nummer beheerder.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopinternalname">
		<xs:annotation>
			<xs:documentation>Interne naam quay voor beheerder.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onlygetout">
		<xs:annotation>
			<xs:documentation>Wordt halte alleen gebruikt als uitstaphalte?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quaytype">
		<xs:annotation>
			<xs:documentation>Type haltegebruik, enumeration: calamity,season,regular,temporary,demandresponsive.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="calamity"/>
				<xs:enumeration value="season"/>
				<xs:enumeration value="regular"/>
				<xs:enumeration value="temporary"/>
				<xs:enumeration value="demandresponsive"/>
				<xs:enumeration value="bridge"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="environmentinfo">
		<xs:annotation>
			<xs:documentation>Informatie (bijv. plattegrond) over omgeving aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="toiletfacility">
		<xs:annotation>
			<xs:documentation>Toiletvoorziening aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ptbikerental">
		<xs:annotation>
			<xs:documentation>OV-fietsverhuur aanwezig?</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publicnamemedium">
		<xs:annotation>
			<xs:documentation>Medium naam, altijd incl. plaatsnaam, waaronder knooppunt/station bekend is bij het publiek.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publicnamelong">
		<xs:annotation>
			<xs:documentation>Haltenaam incl. nadere eenduidige aanduiding locatie, bijv. kruising van wegen.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceindication">
		<xs:annotation>
			<xs:documentation>Aanduiding van StopPlace voor gebruik in openbare ruimte t.b.v. wayfinding.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplacestatus">
		<xs:annotation>
			<xs:documentation>Status van stopplace. enum: [adapted|available|expired]. ‘adapted' betekent dat de StopPlaceStatus door de afnemer alleen kan worden bepaald uit de Quay statussen van de Quays die behoren tot de StopPlace.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="adapted"/>
				<xs:enumeration value="available"/>
				<xs:enumeration value="expired"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>Nadere omschrijving.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quayimagedescription">
		<xs:annotation>
			<xs:documentation>Nadere omschrijving quay foto, hier kan worden aangegeven vanuit welke positie de foto is genomen.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="stopplaceimagedescription">
		<xs:annotation>
			<xs:documentation>Nadere omschrijving stopplace foto, hier kan worden aangegeven vanuit welke positie de foto is genomen.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="remarks">
		<xs:annotation>
			<xs:documentation>Opmerkingen/bijzonderheden.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="remarkstatus">
		<xs:annotation>
			<xs:documentation>Status van opmerkingen/bijzonderheden, enum: geldig, vervallen.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="valid"/>
				<xs:enumeration value="expired"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quaystatus">
		<xs:annotation>
			<xs:documentation>Status van quay. enum: [plan|available|expired|unavailable|outofuse|deleted].</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="plan"/>
				<xs:enumeration value="available"/>
				<xs:enumeration value="expired"/>
				<xs:enumeration value="unavailable"/>
				<xs:enumeration value="outofuse"/>
				<xs:enumeration value="deleted"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="concessionprovidercode">
		<xs:annotation>
			<xs:documentation>DataOwnercode van type OV autoriteit (COPR).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="LimitationStatusEnum">
		<xs:annotation>
			<xs:documentation>NeTEx LimitationStatusEnumeration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
